*
{
    font-family: 'Montserrat', monospace;
}

body
{
    background: url("./media/14751.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}